/**********************************
*** Snippets
**********************************/
.snippets-content {
  padding-bottom: 4.5625rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 6.5625rem;

  }
}

.snippets-header {
  padding-bottom: 2.0625rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 4.0625rem;
  }
}

.snippets-code {
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
}

.snippets-code__header {
  background-color: #E5EAEE;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  flex: 0 0 3.125rem;
  max-height: 3.125rem;
  > div {
    margin: {
      top: auto;
      bottom: auto;
      right: auto;
    }
    padding-left: 1.875rem;
    > span {
      background-color: $white;
      border-radius: 50%;
      display: inline-block;
      height: .5rem;
      width: .5rem;
    }
  }
}

.snippets-code__body {
  flex: 0 0 25.9375rem;
  max-height: 25.9375rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: hidden;
}

.snippets-code__sidebar {
  background-color: #F2F5F7;
  padding: .5rem 1rem;
  @include media-breakpoint-up(sm) {
    flex: 0 0 11rem;
    max-width: 11rem;
    padding: 1rem;
  }
  @include media-breakpoint-up(md) {
    flex: 0 0 15rem;
    max-width: 15rem;
    padding: 1.875rem;
  }
}

.snippets-code__editor {
  flex: 1 1 auto;
  position: relative;
}

.snippets-code__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

.snippets-code__oval {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 2;
  > a {
    > img {
      height: auto;
      max-width: 3.125rem;
    }
  }
}

.snippets-code__languages {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0 0 .5rem 0;
    @include media-breakpoint-up(md) {
      padding: 0 0 1rem 0;
    }
    > li {
      &.active {
        > a {
          color: #1B4670;
        }
      }
      > a {
        color: #A9ADB1;
        font-size: .875rem;
        line-height: 2;
        font-weight: 500;
        text-decoration: none;
        @include media-breakpoint-up(md) {
          font-size: 1rem;
        }
      }
    }
  }
}

.snippets-code__text {
  border-top: 1px solid #E4E8EC;
  padding-top: .5rem;
  @include media-breakpoint-up(md) {
    padding-top: 1rem;
  }
  > p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4667;
    margin-bottom: .5rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
    }
  }
  > a {
    font-size: 0.75rem;
    text-decoration: none;
  }
}

/**********************************
*** Community
**********************************/
.community-header {
  padding-bottom: 4.6875rem;
}

.community-articles {
  padding-bottom: 1.25rem;
  > .row {
    > div {
      &:first-child {
        margin-bottom: 1.875rem;
        .community-article {
          background-image: url("../../assets/images/community/community-article1-bg.png");
        }
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
      &:last-child {
        .community-article {
          background-image: url("../../assets/images/community/community-article2-bg.png");
          background-size: 50%;
          @include media-breakpoint-up(md) {
            background-size: auto;
          }
        }
      }
    }
  }
}

.community-article {
  background-repeat: no-repeat;
  background-position: right bottom;
  border: 1px solid #E4E8EC;
  border-radius: .25rem;
  height: 100%;
  padding: 1.875rem;
  position: relative;
  @include media-breakpoint-up(sm) {
    padding: 3.75rem 5rem 3.75rem 3.125rem;
  }
}

.community-deco__top,
.community-deco__bottom,
.community-deco__left {
  > img {
    max-width: 50%;
    height: auto;
    margin: 0;
  }
}

.community-deco__top {
  position: absolute;
  top: -0.875rem;
  left: 6.25rem;
  @include media-breakpoint-up(md) {
    top: -0.8125rem;
  }
}

.community-deco__bottom {
  position: absolute;
  bottom: -0.6875rem;
  right: 0;
  @include media-breakpoint-up(md) {
    bottom: -0.75rem;
  }
}

.community-deco__left {
  position: absolute;
  left: -0.125rem;
  bottom: 3rem;
  @include media-breakpoint-up(md) {
    left: -0.125rem;
  }
}

.community-partners {
  padding: {
    top: 2.5rem;
    bottom: 2.5rem;
  }
  @include media-breakpoint-up(md) {
    padding: {
      top: 5rem;
      bottom: 5rem;
    }
  }
  ul {
    > li {
      margin-bottom: 1.5rem;
      padding: {
        left: 0.625rem;
        right: 0.625rem;
      }
      &:first-child {
        @include media-breakpoint-up(sm) {
          padding-left: 0;
        }
      }
      &:last-child {
        @include media-breakpoint-up(sm) {
          padding-right: 0;
        }
      }
      > img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: {
          left: auto;
          right: auto;
        };
        @include media-breakpoint-up(sm) {
          margin: {
            left: 0;
            right: 0;
          };
        }
      }
      flex: 0 0 33.33%;
      max-width: 33.33%;
      @include media-breakpoint-up(sm) {
        flex: 1 1 auto;;
        max-width: none;
        > li {
          margin-bottom: 0;
        }
      }
    }
  }
}
