/**********************************
*** Wrap
**********************************/
.wrap {
  position: relative;
}

/**********************************
*** Header
**********************************/
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: {
   top: 2.6875rem;
   bottom: 2.6875rem;
  }
  z-index: 3;
}

.header-logo {
  > a {
    display: block;
    max-width: 9.0625rem;
    overflow: hidden;
    > img {
      height: auto;
      max-width: 100%;
    }
  }
}

.header-mobile {
  position: fixed;
  right: 1rem;
  top: 2.5rem;
  z-index: 5;
  > button {
    &:focus {
      box-shadow: none;
    }
  }
}

.header-mobile__nav {
  position: fixed;
  right: 2rem;
  top: 5rem;
  z-index: 5;
  > ul {
    background-color: $primary;
    color: $white;
    padding: .45rem 0;
    margin-bottom: 0;
    > li {
      > a {
        display: block;
        color: $white;
        text-transform: uppercase;
        font-size: .875rem;
        letter-spacing: .8px;
        text-decoration: none;
        padding: 0.5rem .875rem;
        transition: color .2s ease-in-out;
        &.active {
          color: #272727;
        }
        &:hover:not(.active) {
          color: darken($gray-300, 50%);
        }
      }
    }
  }
}

.header-nav {
  > nav {
    padding-right: 1.5625rem;
    a {
      color: #000000;
      text-decoration: none;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .8px;
      margin: {
        left: 1.5625rem;
        right: 1.5625rem;
      };
      &.active {
        color: $primary;
      }
    }
  }
}

/**********************************
*** Hero
**********************************/
.hero-content {
  border-bottom: 2px dotted rgba(#BBC2CE, .55);
  padding: {
    top: 9.5rem;
    bottom: 3.125rem;
  }
  position: relative;
  > .row {
    z-index: 2;
    position: relative;
  }
  @include media-breakpoint-up(md) {
    padding: {
      top: 9.5rem;
      bottom: 9.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: {
      top: 12.5rem;
      bottom: 12.5rem;
    }
  }
}

.hero-deco__top {
  position: absolute;
  top: 10.625rem;
  left: -11.375rem;
  > img {
    height: auto;
    max-width: 100%;
  }
}


.hero-deco__bottom {
  position: absolute;
  bottom: 7.625rem;
  right: -5.375rem;
  > img {
    height: auto;
    max-width: 100%;
  }
}

.hero-article {
  padding-bottom: 3.2rem;
  @include media-breakpoint-up(md) {
    max-width: 29rem;
  }
}

.hero-image {
  > img {
    max-width: 100%;
  }
  @include media-breakpoint-up(xl) {
    position: relative;
    padding-bottom: 78.80%;
    width: 100%;
    > img {
      position: absolute;
      height: auto;
      top: 0;
      left: 0;
      max-width: 130%;
      width: 130%;
    }
  }
}

/**********************************
*** Features
**********************************/
.features-content {
  padding-top: 4.2rem;
  padding-bottom: 5.5rem;
  @include media-breakpoint-up(lg) {
    padding-top: 5.3125rem;
    padding-bottom: 7.5rem;
  }
}

.features-items {
  padding-top: 3.6875rem;
  @include media-breakpoint-up(md) {
    padding-top: 4.6875rem;
  }
}

.feature-article {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  @include media-breakpoint-up(md) {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:nth-child(even) {
    > div {
      &:first-child {
        @include media-breakpoint-up(md) {
          order: 2;
        }
      }
      &:last-child {
        @include media-breakpoint-up(md) {
          order: 1;
        }
      }
    }
  }
}

.feature-article__content {
  > div {
    max-width: 27.5rem;
    text-align: center;
    margin: {
      left: auto;
      right: auto;
    };
    @include media-breakpoint-up(md) {
      text-align: left;
      margin: {
        left: 0;
        right: 0;
      }
    }
    > p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.feature-article__image {
  > img {
    display: block;
    height: auto;
    max-width: 20.625rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include media-breakpoint-up(md) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }
}

/**********************************
*** Workshops
**********************************/
.workshop {
  background-color: white;
  height: 100%;
  &.--private {
    background-color: #EEF8FC;
    .workshop-article {
      border-color: #55C1E2;
    }
  }
}

.workshops-content {
  padding-top: 5rem;
  padding-bottom: 3.5625rem;
  border-top: 2px dotted rgba(#BBC2CE, .55);
  &.--border-bottom {
    border-bottom: 2px dotted rgba(#BBC2CE, .55);
  }
  @include media-breakpoint-up(md) {
    padding-top: 5rem;
    padding-bottom: 6.5625rem;
  }
}

.workshops-header {
  padding-bottom: 4.375rem;
}

.workshop-article {
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  border: 1px solid #E4E8EC;
  border-radius: 0.375rem;
  height: 100%;
  padding: 1.875rem;
  transition: box-shadow .2s ease-in-out;
  &:hover {
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
  }
}

.workshop-header {
  flex: 0 0 5.9375rem;
  max-height: 5.9375rem;
  position: relative;
}

.workshop-icon {
  > div {
    > img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
  &.--one {
    > div {
      max-width: 4.375rem;
    }
  }
  &.--two {
    > div {
      max-width: 4.125rem;
      margin-right: 0.375rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.--three {
    > div {
      max-width: 3.75rem;
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.workshop-pricetag {
  background: #f7f7f7;
  border: 1px dotted #C7D1DB;
  border-radius: 0 5px 5px 0;
  color: #9DA8B5;
  font-weight: 600;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 2.23rem;
  height: 2.125rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.875rem 0 1.05rem;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  white-space: nowrap;
  z-index: 2;
  &:before {
    position: absolute;
    background: #f7f7f7;
    content: "\25CF";
    color: $white;
    text-shadow: 0 0 1px #aaa;
    font-size: 14px;
    line-height: 24px;
    text-indent: 6px;
    top: 0.25rem;
    left: -0.8125rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
    border-left: 1px dotted #C7D1DB;
    border-bottom-left-radius: 6px;
    border-bottom: 1px dotted #C7D1DB;
  }
  &.--discount {
    background-color: #FEEAD3;
    border-color: #DCA795;
    color: #F85822;
    &:before {
      background-color: #FEEAD3;
      border-left: 1px dotted #DCA795;
      border-bottom-left-radius: 6px;
      border-bottom: 1px dotted #DCA795;
      text-shadow: 0 0 1px #DCA795;
    }
  }
}

.workshops-items {
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-up(sm) {
    max-width: 36rem;
  }
  @include media-breakpoint-up(md) {
    max-width: none;
    margin: {
      left: 0;
      right: 0;
    };
  }
  >.row {
    > div {
      margin-bottom: 1.5625rem;
    }
  }
}

.workshop-content {
  flex: 1 1 auto;
  position: relative;
  padding-top: 1.875rem;
}

.workshop-content__text {
  > h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.444;
    > a {
      text-decoration: none;
    }
  }
  > p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.57;
    white-space: pre-wrap;
  }
}

.workshop-content__details {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    strong {
      color: #000000;
      font-weight: 500;
    }
  }
}

.workshop-content__date {
  position: absolute;
  top: 0;
  left: 0;
  > a,
  > span {
    color: $primary;
    letter-spacing: .8px;
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.workshop-footer {
  flex: 0 0 5.0625rem;
  max-height: 5.0625rem;
}

.workshop-pagination {
  padding-top: 1.7rem;
  @include media-breakpoint-up(md) {
    padding-top: 3.125rem;
  }
  .paginationjs-page,
  .paginationjs-prev,
  .paginationjs-next {
    margin: {
      left: 0.3125rem;
      right: 0.3125rem;
    }
    > a {
      font-family: Arial, sans-serif;
      padding: 0.75rem 1rem 0.65rem;
    }
    &:first-child {
      > a {
        border-radius: 0;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
      }
    }
    &:last-child {
      > a {
        border-radius: 0;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
      }
    }
    a {
      font-size: .875rem;
    }
  }
}

/**********************************
*** Snippet
**********************************/
.snippet-content {
  padding: {
    top: 6.25rem;
    bottom: 6.25rem;
  }
}

.snippet-header {
  padding-bottom: 4.0625rem;
}

.snippet-code {
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.03);
  max-width: 53.75rem;
  margin: {
    left: auto;
    right: auto;
  }
}

.snippet-code__header {
  background-color: #E5EAEE;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  flex: 0 0 3.125rem;
  max-height: 3.125rem;
  > div {
    margin: {
      top: auto;
      bottom: auto;
      right: auto;
    }
    padding-left: 1.875rem;
    > span {
      background-color: $white;
      border-radius: 50%;
      display: inline-block;
      height: .5rem;
      width: .5rem;
    }
  }
}

.snippet-code__body {
  background-color: $white;
  flex: 0 0 26.125rem;
  max-height: 26.125rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.snippet-code__editor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.snippet-code__oval {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 2;
  > a {
    > img {
      height: auto;
      max-width: 3.125rem;
    }
  }
}

.snippet-code__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

/**********************************
*** Action
**********************************/
.action-content {
  padding-bottom: 5rem;
}

.action-wrap {
  border: 1px solid #E4E8EC;
  border-radius: .25rem;
  background-image: url("../../assets/images/content/action-deco1.png"), url("../../assets/images/content/action-deco2.png");
  background-position: left 20px bottom, right 0 bottom;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}

.action-deco__top,
.action-deco__bottom {
  position: absolute;
  > img {
    height: auto;
    max-width: 50%;
  }
}

.action-deco__top {
  top: -0.8125rem;
  left: 2rem;
  &.--fix {
    top: -0.875rem;
  }
}

.action-deco__bottom {
  bottom: -0.75rem;
  right: 1rem;
  &.--fix {
    bottom: -0.6875rem;
  }
}

.action-article {
  max-width: 40.625rem;
  padding: {
    top: 3.75rem;
    right: 2.5rem;
    bottom: 2.875rem;
    left: 2.5rem;
  }
  margin: {
    left: auto;
    right: auto;
  }
}

/**********************************
*** Footer
**********************************/
.footer-content {
  border-top: 1px solid #E1E1E1;
  padding-top: 3.1875rem;
  padding-bottom: 2.4375rem;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-bottom: 5.4375rem;
  }
}

.footer-deco {
  position: absolute;
  top: -0.875rem;
  left: 6.25rem;
  &.--fix {

  }
  > img {
    height: auto;
    max-width: 50%;
  }
  @include media-breakpoint-up(md) {
    top: -0.8125rem;
    &.--fix {
      top: -0.875rem;
    }
  }
}

.footer-about {
  > a {
    display: inline-block;
    padding-bottom: .675rem;
    > img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
  > p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.857;
    max-width: 18.75rem;
    margin: {
      left: auto;
      right: auto;
    }
    @include media-breakpoint-up(md) {
      margin: {
        left: 0;
        right: 0;
      };
    }
  }
}

.footer-links,
.footer-info,
.footer-contact {
  > p {
    color: #000000;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }
  > ul {
    > li {
      > a {
        color: #919191;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 3;
        letter-spacing: .8px;
        text-transform: uppercase;
        text-decoration: none;
      }
      &.active {
        > a {
          color: #000000;
        }
      }
    }
  }
}

.footer-address {
  padding-bottom: 2.0625rem;
  > p {
    color: #919191;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.857;
    margin: 0;
  }
}

.footer-social {
  > ul {
    > li {
      margin-right: 1.25rem;
      &:last-child {
        margin-right: 0;
      }
      > a {
        .footer-social__circle {
          transition: fill .2s ease-in-out;
        }
        &:hover {
          .footer-social__circle {
            fill: $primary;
          }
        }
      }
    }
  }
}

.footer-copyright {
  padding-top: 3.625rem;
  > p {
    color: #ABABAB;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.857;
  }
}

