{{#each workshops}}
<div class="col-md-6 col-lg-4">
    <div class="workshop {{isPrivate this.eventTypes}}">
        <!-- WORKSHOP ARTICLE -->
        <article class="workshop-article d-flex flex-column justify-content-between">
            <header class="workshop-header">
                <div class="workshop-icon d-flex flex-row {{iconCssClass this.eventTypes}}">
                    {{#each this.eventTypes}}
                    <div><img src="assets/images/workshops/{{iconFile this}}.svg" alt="{{this}} Workshop Icon"></div>
                    {{/each}}
                </div> <!--/.workshop-icon-->

                {{#if this.payment.showTag}}
                <span class="workshop-pricetag {{#if this.payment.discount}}--discount{{/if}}">{{#if this.payment.free}}Free{{/if}}{{#if this.payment.discount}}{{this.payment.discount}}{{/if}}</span>
                {{/if}}
            </header> <!--/.workshop-header-->

            <div class="workshop-content d-flex flex-column justify-content-between">

                <div class="workshop-content__text">
                    <div class="workshop-content__date">
                        <span>{{this.date}}</span>
                    </div> <!--/.workshop-content__date-->
                    <h3>{{this.title}}</h3>
                    <p>{{this.description}}</p>
                </div> <!--/.workshop-content__text-->

                <div class="workshop-content__details d-flex flex-row justify-content-between">
                    <div>
                        <p class="m-0">{{#if this.duration}}Duration <strong>{{this.duration}}</strong>{{/if}}</p>
                    </div>
                    {{#if this.payment.price}}
                    <div>
                        <p class="m-0"><strong>${{this.payment.price}}</strong></p>
                    </div>
                    {{/if}}
                </div> <!--/.workshop-content__details-->

            </div> <!--/.workshop-content-->

            <footer class="workshop-footer d-flex align-items-center justify-content-between">
                <div>
                    <a href="{{this.urlAddress}}" class="btn {{buttonType this.eventTypes}}">{{buttonText this.eventTypes}}</a>
                </div>

                <div class="{{hideInfo this.eventTypes}}">
                    <a href="javascript:;"
                       class="d-sm-none"
                       data-toggle="popover"
                       data-trigger="click"
                       data-container="body"
                       data-popover-content=".workshop-{{@index}}">
                        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-463.000000, -3669.000000)" fill="#CFD3D6" fill-rule="nonzero">
                                    <g transform="translate(165.000000, 3200.000000)">
                                        <g transform="translate(0.000000, 154.000000)">
                                            <path d="M308.333309,335.187495 C313.683181,335.187495 318.020786,330.851453 318.020786,325.500018 C318.020786,320.151711 313.683181,315.812541 308.333309,315.812541 C302.983438,315.812541 298.645833,320.151711 298.645833,325.500018 C298.645833,330.851453 302.983438,335.187495 308.333309,335.187495 Z M308.333309,323.390648 C307.427207,323.390648 306.692688,322.65613 306.692688,321.750027 C306.692688,320.843924 307.427207,320.109406 308.333309,320.109406 C309.239412,320.109406 309.973931,320.843924 309.973931,321.750027 C309.973931,322.65613 309.239412,323.390648 308.333309,323.390648 Z M310.052055,330.500006 L306.614564,330.500006 C306.355699,330.500006 306.145815,330.290122 306.145815,330.031257 L306.145815,329.093759 C306.145815,328.834895 306.355699,328.62501 306.614564,328.62501 L307.083312,328.62501 L307.083312,326.125016 L306.614564,326.125016 C306.355699,326.125016 306.145815,325.915132 306.145815,325.656268 L306.145815,324.71877 C306.145815,324.459905 306.355699,324.250021 306.614564,324.250021 L309.114558,324.250021 C309.373422,324.250021 309.583307,324.459905 309.583307,324.71877 L309.583307,328.62501 L310.052055,328.62501 C310.31092,328.62501 310.520804,328.834895 310.520804,329.093759 L310.520804,330.031257 C310.520804,330.290122 310.31092,330.500006 310.052055,330.500006 Z" id=""></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="javascript:;"
                       class="d-none d-sm-inline"
                       data-toggle="popover"
                       data-trigger="hover"
                       data-container="body"
                       data-popover-content=".workshop-{{@index}}">
                        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-463.000000, -3669.000000)" fill="#CFD3D6" fill-rule="nonzero">
                                    <g transform="translate(165.000000, 3200.000000)">
                                        <g transform="translate(0.000000, 154.000000)">
                                            <path d="M308.333309,335.187495 C313.683181,335.187495 318.020786,330.851453 318.020786,325.500018 C318.020786,320.151711 313.683181,315.812541 308.333309,315.812541 C302.983438,315.812541 298.645833,320.151711 298.645833,325.500018 C298.645833,330.851453 302.983438,335.187495 308.333309,335.187495 Z M308.333309,323.390648 C307.427207,323.390648 306.692688,322.65613 306.692688,321.750027 C306.692688,320.843924 307.427207,320.109406 308.333309,320.109406 C309.239412,320.109406 309.973931,320.843924 309.973931,321.750027 C309.973931,322.65613 309.239412,323.390648 308.333309,323.390648 Z M310.052055,330.500006 L306.614564,330.500006 C306.355699,330.500006 306.145815,330.290122 306.145815,330.031257 L306.145815,329.093759 C306.145815,328.834895 306.355699,328.62501 306.614564,328.62501 L307.083312,328.62501 L307.083312,326.125016 L306.614564,326.125016 C306.355699,326.125016 306.145815,325.915132 306.145815,325.656268 L306.145815,324.71877 C306.145815,324.459905 306.355699,324.250021 306.614564,324.250021 L309.114558,324.250021 C309.373422,324.250021 309.583307,324.459905 309.583307,324.71877 L309.583307,328.62501 L310.052055,328.62501 C310.31092,328.62501 310.520804,328.834895 310.520804,329.093759 L310.520804,330.031257 C310.520804,330.290122 310.31092,330.500006 310.052055,330.500006 Z" id=""></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <!-- POPOVER CONTENT -->
                    <div class="d-none workshop-{{@index}}">
                        <div class="popover-body">
                            <div class="workshop-popover">
                                <h4>About Event</h4>
                                <p>{{this.about}}</p>
                                <h4>For who</h4>
                                <p>{{this.recipients}}</p>
                                <h4>Duration</h4>
                                <p>{{this.eventDate}}</p>
                                <h4>Delivery</h4>
                                <p>{{this.instructor}}</p>
                            </div>
                        </div> <!--/.popover-body-->
                    </div> <!--/.hidden workshop-popover workshop-1-->
                    <!-- END POPOVER CONTENT -->
                </div>

            </footer> <!--/.workshop-footer-->
        </article><!--/.workshop-article-->
        <!-- END WORKSHOP ARTICLE -->
    </div> <!--/.workshop-->
</div> <!--/.col-md-4-->
{{/each}}
